<footer class="site-foot">
  <div class="wrap foot-row">
    <div class="foot-brand">
      <img src="${root}assets/mark-white.png" alt="Sutura Works" width="56" height="70">
      <div>
        <p class="foot-name">SUTURA WORKS LIMITED</p>
        <p class="foot-meta">RC 8908551 / Abuja and Kano, Nigeria</p>
      </div>
    </div>
    <div class="foot-links">
      <a href="https://suturaworks.com">suturaworks.com</a>
      <a href="mailto:info@suturaworks.com">info@suturaworks.com</a>
    </div>
  </div>
  <img class="foot-ghost" src="${root}assets/mark-white.png" alt="" aria-hidden="true">
</footer>
